      <div class="banner-wrapper">
		   <div class="col-xxs-12 col-xs-12 col-s-8 center-xxs center-xs pull-s clearfix">
       
		     <div class="media banner-img">
	 
           <img src="{{ site.url }}{{ site.baseurl }}{{ site.main_banner }}" alt="{{ site.title}} banner image"> </img>
		    </div>
		   </div>
		   
		   <div class="col-xxs-12 col-xs-12 col-s-4 text-xxs-center text-xs-center text-s-push">

         <div class="header-description">
         
		   
           <p><span class="header-title">{{ site.title }}</span><br><span class="header-text">{{ site.subtitle }}</span></p>
           
           <div class="content-menu-wrapper">
              {% include content_menu.html %}
           </div>
           
         </div>
		   </div>
      </div>
