<div class="container-full">
<div class="row">

<div class="col-xxs-12">
    <div class="content-menu">
    {% if site.content_menu_active == true %}
    {% if site.content_menu_title %}
    
    <a href="{{ site.content_menu_url }}">

    <h2>{{ site.content_menu_title }}</h2>

    </a>
    {% endif %}

    {% if site.content_menu_subcontent == true %}
    <section id="subcontent-wrapper">
      <ul>
    {% for subcontent in site.data.nav %}
    <li>
      <a href="{{ site.url }}{{ subcontent.subcontent_href }}">{{ subcontent.subcontent_title }}</a>
    </li>

    {% endfor %}

      </ul>
    </section>
    {% endif %}
    {% endif %}

    </div><!--content-menu -->
</div><!--col-xxs-12 -->
	
	</div><!--row -->
  </div>
