	
<hr>
    <footer>
	    <div class="col-xxs-12">
		<h5>{{ site.footer-info }}</h5>
	      </div>
	    
	</div><!--container -->
    </footer>
    
    <script src="/assets/js/vendor/jquery-2.1.4.min.js"></script>
    <script src="/assets/js/responsive.min.js"></script>
    <script src="/assets/js/custom.js"></script>
    
