<header>
    <div class="container">

	{% include main-navigation.html %}

  <div class="row">
  
  {% if page.banner == true %}
	{% include banner.html %}
  {% endif %}

  </div>


	</header>

	</div><!--container -->
