<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Your site description." />
    <title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>

    <link href="/assets/css/responsive.min.css" rel="stylesheet" />
    <link href="/assets/css/main.css" rel="stylesheet" />
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/datalegreya" type="text/css"/> 
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/avara" type="text/css"/> 
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/anke" type="text/css"/> 
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/caladea" type="text/css"/> 
</head>
