    <div class="row equal-hight clearfix">
      

	<div id="nav-home" class="col-xxs-12 col-xs-4 text-xxs-center text-xs-pull">
	    <a href="{{ site.url }}">{{ site.title }}</a>
	</div> <!-- col-xxs-4 -->

	<div id="nav-ul" class="col-xxs-12 text-xxs-center hidden-s hidden-m hidden-l">
  
  <nav data-navigation>
    <button>Menu</button>
	   <ul>
	       {% for nav in site.data.nav %}
	       <li class= "inline"><a href="{{ site.url }}/{{ nav.href }}">{{ nav.title }}</a></li>
	       {% endfor %}
	   </ul> 
  </nav>
</div>

<nav>
  <div id="nav-ul" class="text-s-push text-m-push text-l-push hidden-xxs hidden-xs">
	   <ul>
	       {% for nav in site.data.nav %}
	       <li class= "inline"><a href="{{ site.url }}/{{ nav.href }}">{{ nav.title }}</a></li>
	       {% endfor %}
	   </ul> 
  </div>
  </nav>
	</div> <!-- col-xxs-8 -->

    </div> <!-- nav->row -->
	
