<div class="container-full">
  <div class="row equal-hight">
   
     {% for page in site.projects %}

      <div class="col-xxs-12 col-xs-6 col-s-4 col-m-3 text-center">
      
        <div class="portfolio-box-wrapper">
        
        <a href="{{ page.url }}">{{ page.title }}</a>
      
        {% if page.img %}
          <div class="media">
            <img src="{{ site.url }}{{ page.img }}" alt="{{ page.alt }}">
          </div>
        {% endif %}
        </div>
      </div>
     {% endfor %}

  </div>
</div>
