  <div class="post-list">
    {% for post in site.posts %}

    <ul>

      <li> <a href="{{ post.url }}">{{ post.title}}</a></li><span class="post-date push">{{ post.date | date_to_string }}</span>
    </ul>
    
    <p>{{ post.excerpt }}</p>
    
    {% endfor %}
  </div>

