.banner-wrapper {
    height: 10vh;
}
    
.banner-img:hover {
    border-radius:40%;
    box-shadow: 0 10px 6px -6px black;
}

.banner-img {
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}



.header-description {
    margin: 0rem; 
    padding: 0rem 1rem 0rem 0rem;
    line-height: normal;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}


.header-title .header-text {
    margin: 0rem;
    padding: 0rem;
}

.header-title {
    color: $banner-header-color;
    font-size: 4rem;
}

@media(min-width: 768px) and (max-width: 1200px) {
  .header-title {
    font-size: 3rem;
  }
}

.header-text {
    font-size: 2.50rem;
    color: $banner-subheader-color;
}

@media(min-width: 768px) and (max-width: 1200px) {
  .header-text {
    font-size: 1.50rem;
  }
}
