.content-menu {
    padding-top: $content-menu-padding-top;
    padding-bottom: $content-menu-padding-bottom;
    margin-top: $content-menu-margin-top;
    background-color: $content-menu-bgcolor;
    text-align: $content-menu-text-align;
}

.content-menu a:link {
    color: $content-menu-h2-link-color;
    font-size: 2rem;
    text-decoration: none;
}

.content-menu a:visited {
    color: $link-visited-color;
    text-decoration: none;
}

.content-menu a:hover {
    color: $content-menu-li-link-color;
    text-decoration: none;
}

.content-menu ul li {
    display: inline;
    color: $content-menu-li-link-color;
    font-size: 2rem;
}

.content-menu ul li a:link {
    color: $link-visited-color;
    text-decoration: none;
}

.content-menu ul li a:visited {
    color: $link-visited-color;
    text-decoration: none;
}

.content-menu ul li a:hover {
    color: $content-menu-li-link-color;
    text-decoration: none;
}

@media(min-width: 768px) and (max-width: 1200px) {
  .content-menu {
    font-size: 1rem;
  }
}
