@charset "utf-8";

// Variables
@import "variables";

@import "nav";

@import "banner";

@import "content-menu";

@import "showcase";

@import "page";

@import "post";

@import "post-list";

@import "portfolio";

@import "footer";

html { font-size: 1rem; }

body {
    background-color: $primary-color;
    color: $secondary-color;
    margin: 0.1rem 0.1rem 0.1rem 0.1rem;
}

h1, h2, h3, h4, h5, h6 {
   font-family: 'AnkeRegular';
   font-weight: bold;
   font-style: normal; 
}

h1 {
    font-family: 'DatalegreyaDot';
    font-size: 4rem;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 3.25rem;
}

h4 {
    font-size: 3.0rem;
}

h5 {
    font-size: 2.75rem;
}

h6 {
    font-size: 2.50rem;
}
