#nav-home a { 
    font-family: 'DatalegreyaDot';
    padding: 0rem;
}

#nav-home a:link {
    font-size: 5rem;
    margin: 0rem;
    color: $secondary-color;
    text-decoration: none;
}

#nav-home a:visited {
    font-size: 5rem;
    margin: 0rem;
    color: $secondary-color;
    text-decoration: none;
}

#nav-home a:hover {
    font-size: 5rem;
    margin: 0rem;
    color: $link-hover-color;
    text-decoration: none;
}

nav ul {
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

nav ul li {
    font-style: 'DatalegreyaDot';
    padding: 0.4rem;
    font-size: $link-nav-font-size;
}

nav ul li a:link {
    color: $link-color; 
    text-decoration: none;
}

nav ul li a:visited {
    color: $link-visited-color;
    text-decoration: none;
}
nav ul li a:hover {
    color: $link-hover-color; 
    text-decoration: none;
}

nav ul li a:active {
    color: #00875F;
    text-decoration: none;
}

nav button {
  border-radius: 0rem 0rem 0rem 2rem;
}

nav[data-navigation] { 
    background-color: #EFFFE0;
}
