.page-listing-title {
  margin-left: 2rem;
}

.page-content {
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 1rem 1rem 1rem 1rem;
  font-size: 1rem;
  background-color: $page-content-bgcolor;
}
