.portfolio-box-wrapper {
  margin: 1rem;
  padding: 1rem;


  a {
    font-size: 1.2rem;
    font-family: 'AnkeRegular';
  }

  .media {

    display: flex;
    height: 95%;
    width: 95%;

    img {
    width: 98%;
    height: 98%;
    }
  }

}
