.post-list {

  ul { 
    list-style-type: none; 
    padding: 0.2rem; 
    margin: 3rem 1rem 1rem 1rem;
  }

  a { font-size: 2rem; text-decoration: none; }

  a:link { color: $link-color; }

  a:visited { color: $link-hover-color; }

  a:hover { color: $complimentary-color; }

  .post-date {
    background-color: darken($primary-color, 25%);
    padding: 0.3rem 0.3rem;
    color: lighten($secondary-color, 15%);
    border-radius: 15% 0% 0% 15%;
  }

  p { margin: 0.5rem 1rem; }
}
