.page-title {
  margin: 1rem;
  text-align: center;
  padding: 0rem 1rem;
  font-size: 2.0rem;
}

.post-title {
  margin-left: 4rem;
  font-size: 16px;
}

.post-content {
  margin: 0.5rem;
  padding: 1.5rem 0rem;
  font-size: 1.2rem;
  background-color: $page-content-bgcolor;

  h2 {
    display: inline-block;
    font-size: 1.7rem;
    background-color: $showcase-description-bgcolor;
    margin: 1rem 0rem;
    padding: 0.5rem 4rem 0.5rem 0.5rem;
    border-radius: 0% 0% 50% 0%;
    border-width: thin;
  }

  p {
    padding: 0rem 0.5rem 0.4rem 1.5rem;
  }

  a:link {
    color: $link-color;
  }

  a:visited {
    color: $link-hover-color;
  }

  a:hover {
    color: $highlight-color;
  }

  ul,ol {
    background-color: darken($showcase-description-bgcolor, 10%);
    padding: 2rem 2rem;
    margin: 2rem 2rem;
    border-style: none none none double;
    border-width: thick;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  }

  li {
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    color: darken($link-visited-color, 50%);
    font-size: 1rem;
  }

  code {
    color: $primary-color;
    background-color: darken($secondary-color, 5%);
    padding: 0.3rem 0.3rem;
    border-radius: 0.5rem;
  }

  blockquote {
    font-style: italic;
    font-size: 1rem;
    background-color: darken($primary-color, 10%);
    padding: 0.5rem 0.5rem;
    border-style: none double none none;
    border-width: thick;
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  }

  figure.highlight pre {
    background-color: darken($secondary-color, 5%);
    margin: 0.2rem 0.1rem;
    padding: 0.1rem;
  }

  pre {
    color: darken($primary-color, 10%);
    margin: 0.2rem 0.1rem;
    padding: 0.1rem;
    overflow: auto;
    border-style: none;
  }

  pre.lineno {
    border-style: none solid none none;
    padding: 0rem 0.5rem 0rem 0rem;
    overflow: auto;
  }

  table.rouge-table {
    margin: 0.1rem;
    padding: 0.1rem;
  }

  pre.highlight {
    padding: 2rem;
    background-color: darken($secondary-color, 5%);
  }
}

@media(min-width: 600px) {
  .post-content {
    margin: 1rem 4rem;
    font-size: 1.3rem;
  
    h2 {
      padding-left: 2rem;
    }
    p {
      padding: 0.2rem 4.0rem;
    }
    ul,ol {
      margin: 2rem 4.5rem;
      padding: 1rem 2rem;
    }
    li {
      padding: 0.25rem 0.5rem 0.25rem 0.7rem;
      margin: 0.25rem 1.5rem;
      font-size: 1.2rem;
    }
    blockquote {
      font-size: 1.2rem;
    }
    code {
      padding: 0.3rem 10.5rem;
    }
    pre.highlight {
      padding: 1.3rem 4.5rem;
    }
    pre.lineno {
      border-right-width: 0.1rem;
    }
  }
}
