#showcase-h2 {
    background-color: $showcase-h2-bgcolor;
    padding: 1.2rem 1.6rem 0.8rem 1.6rem;
    margin: 2rem 1rem 0rem 1rem;
    border-radius: 20% 0% 0% 0%;
    font-size: 2.5rem;
}

#showcase-h2 a:link {
    color: $showcase-h2-color;
    text-decoration: none; 
}

#showcase-h2 a:visited {
    color: $showcase-h2-color;
    text-decoration: none; 
}

#showcase-h2 a:hover {
    text-shadow: 0px 0 15px #fff;
}

#showcase-h2 {
    -webkit-transition: all 0.9s ease;
    transition: all 0.9s ease;
}

@media(max-width: 479px){
  #showcase-h2 {
    font-size: 1.5rem;
  }
}

@media(min-width: 500px){
  #showcase-h2 {
    font-size: 3.0rem;
  }
}

@media(min-width: 769px){
  #showcase-h2 {
    font-size: 3.5rem;
  }
}

.showcase-section {
    padding: 0.0rem 1.6rem 0.8rem 1.6rem;
    margin: 0rem 0rem 1rem 0rem;
    background-color: $showcase-bgcolor;
}

#showcase-h3 {
  font-size: 2.0rem;
}

@media(max-width: 479px){
  #showcase-h3 {
    font-size: 1.2rem;
  }
}

@media(min-width: 500px){
  #showcase-h3 {
    font-size: 2.75rem;
  }
}

@media(min-width: 769px){
  #showcase-h3 {
    font-size: 3.25rem;
  }
}

#showcase-h3 a:link {
    color: $showcase-h2-bgcolor;
}

#showcase-h3 a:visited {
    color: darken($highlight-color, 10%);
}
#showcase-h3 a:hover {
    color: $secondary-color;
}

.showcase-img:hover img {
    -webkit-transition: all 0.9s ease;
    transition: all 0.9s ease;
}

.showcase-img {
    margin-top: 0px;
    padding-top: 0px;
}

.showcase-img img {
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

.description {
    font-family: 'CaladeaRegular';
    font-weight: normal;
    font-style: normal; 
    font-size: 1.3rem;
    text-align: right;
    background-color: $showcase-description-bgcolor;

    margin-top: 0rem;
    padding: 0.5rem;
}
@media(min-width: 769px){
   .description {
    border-radius: 10%;
 }
}

#showcase-div-p {
  margin-top: 0rem;
}

.description button {
    background-color: $content-menu-bgcolor;
    border-color: #382537;
    margin-top: 1rem;
    border-radius: 30px;
}

.description a:link {
    color: $link-color;
}

.description a:visited {
    color: $link-color;
}

.description a:hover {
    color: $showcase-h2-bgcolor;
}
