// Base Colors
$primary-color: #F3F5F0;
$secondary-color: #312123;
$highlight-color: #2F73B6;
$complimentary-color: #0F0C3C;
$body-bg: #E5D8C8;
$content-bgcolor: #1F1F1F;
$body-font-color: #AAA;

// Links
$home-color: darken($secondary-color, 5%);
$link-color: $secondary-color;
$link-hover-color: $highlight-color;
$link-nav-font-size: 1.500rem;
$link-visited-color: lighten($link-color, 15%);

// Layouts
// 	Banner
$banner-header-color: $body-font-color;
$banner-subheader-color: darken($body-font-color, 25%);

//	Content Menu
$content-menu-h2-font-size: 16px;
$content-menu-li-font-size: 16px;
$content-menu-bgcolor: $primary-color;
$content-menu-padding-top: 5px;
$content-menu-padding-bottom: 20px;
$content-menu-margin-top: 20px;
$content-menu-text-align: center;
$content-menu-h2-link-color: #A9D22D;
$content-menu-li-link-color: $content-menu-h2-link-color;

//	Showcase
$showcase-h2-color: $primary-color;
$showcase-h2-bgcolor: $highlight-color;
$showcase-bgcolor: darken($primary-color, 15%);
$showcase-description-bgcolor: darken($primary-color, 25%);

// Pages

$page-content-bgcolor: darken($primary-color, 15%);

//	Footer
$footer-text-align: center;
