<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <main class="wrap">
      {% include header.html %}
      <div class="content_container columns">
          {{ content }}
      </div>
    </main>
      {% include footer.html %}
  </body>
</html>
