---
layout: default
---

<header>
  <div class="row">
    <div class="col-xxs-12">
      <h1 class="page-title">{{ page.title }}</h1>
      <p class="page-meta"></p>
    </div>
  </div>
</header>

<div class="row">
  <div class="col-xxs-12">
    <div class="post-content">
      {{ content }}
    </div>
  </div>
</div>
