---
layout: default
---


<div class="container-full">

	{% for category_name in site.data.showcase %}
  <div class="row">
  
  <div class="col-xxs-12">
  
    <h2 id="showcase-h2" class="push"><a id="{{ category_name.category_href }}" class="subcontent-target" href="{{ category_name.category_href }}">{{ category_name.category }}</a></h2>

  </div>

  </div><!-- div class="row"--> 
  <div class="row showcase-section">
	{% for project in category_name.projects %}
    <div class="col-xxs-12">
		<h3 id="showcase-h3"><a href="{{ project.href }}">{{ project.title }}</a></h3>
    </div>

		<div id="showcase-div-img" class="col-xxs-12 col-xs-12 col-s-7">
		
		    <div class="media showcase-img">
		    
			<a href="{{ project.href }}"><img src="{{ project.image_path}}" alt="{{ project.alt }}"></a>
        </div><!-- div class="media showcase-img"--> 
    </div><!-- div id="showcase-div-img" class="col-xxs-12 col-xs-7 col-s-9"--> 

		<div id="showcase-div-p" class="col-xxs-12 col-xs-12 col-s-5">
		
		    <p class="description">{{ project.description }}
		    <br><a href="{{ project.href }}"><button>read more...</button></a>
		    </p>
    </div><!-- div id="showcase-div-p" class="col-xxs-12 col-xs-5 col-s-3"-->

		    
	{% endfor %}
  </div><!-- div class="row showcase-section"--> 
</div><!-- div class="container-full"--> 
	{% endfor %}
